MINIO_ROOT_USER={{ minio_app_root_user | quote }}
MINIO_ROOT_PASSWORD={{ minio_app_root_password | quote }}
MINIO_VOLUMES={{ minio_app_volume | quote }}
MINIO_SERVER_URL="{{ '{}://{}:{}'.format(minio_app_server_proto, minio_app_server_host, minio_app_server_port) | quote }}"
